<div class="page-spacing">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-8">
            <form [formGroup]="searchForm">
                <div class="form-group">
                    <input (keydown.enter)="searchImg('')" type="text" class="form-control" placeholder="Search Photos" formControlName="searchStr">
                </div>
            </form>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" (click)="searchImg('')" type="button">Search</button>
        </div>
        <div class="col-1"></div>
    </div>

    <div *ngIf="searchAvail !== ''">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <p style="font-style:italic">Related searches:</p>
                <div class="row">
                    <div *ngFor="let search of searches" class="col-1">
                        <button class="btn btn-info" (click)="searchImg(search.searchStr)" type="button">{{search.searchStr}}</button>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <div *ngIf="imgAvail !== ''">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="table resultMarg">
                    <thead>
                        <th style="width:25%">Title</th>
                        <th style="width:75%">Image</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let image of images">
                            <td>{{image.img_title}}</td>
                            <td>
                                <img src="{{image.img_url}}" onerror="this.src=''" style="text-align:center" (click)="showImgView(image.img_url,image.img_title)">
                            </td>
                        </tr>
                    </tbody>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>