<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        <form [formGroup]="searchForm">
            <div class="form-group">
                <input (keydown.enter)="searchImg('')" type="text" class="form-control" placeholder="Search Photos" formControlName="searchStr">
            </div>
        </form>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary" (click)="searchImg('')" type="button">Search</button>
    </div>
    <div class="col-sm-1"></div>
</div>

<div *ngIf="searchAvail !== ''">

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <p style="font-style:italic">Related searches:</p>
            <div class="row">
                <div *ngFor="let search of searches" class="col-sm-1">
                    <button class="btn btn-info" (click)="searchImg(search.searchStr)" type="button">{{search.searchStr}}</button>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        <div class="table">
            <tr *ngFor="let image of images">
                <td><img src="{{image.img_url}}" style="text-align:center"></td>
            </tr>
        </div>

    </div>
    <div class="col-sm-2"></div>
</div>