<div class="page-spacing">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <button class="btn btn-primary" type="button" (click)="backToSearch()">Back to search</button>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <table>
                <tr>
                    <td><img src="{{img}}" height="200%"></td>
                </tr>
                <tr>
                    <td style="text-align: center;">{{title}}</td>
                </tr>
            </table>
        </div>
        <div class="col-1"></div>
    </div>
</div>